.modules{
    background: #fcfbfb;
    padding: 6rem 1rem;
    margin-top: 2rem;
    &__container{
        flex-direction: column;

        @include tablet-portrait{
            flex-direction: row;
        }
    }
    &__slide{
        background: url(../../assets/modulos_bg.png) center center no-repeat;
        background-size: contain;
        width: 100%;
        position: relative;
        min-height: 350px;
        @include tablet-portrait{
            width: 40%;
        }
        @include desktop{
            width: 50%;
        }

        &-img{
            position: relative;
            z-index: 10;
        }
    }
    &__content{
        width: 100%;
        @include  tablet-portrait{
            width: 60%;
        }
        @include desktop {
            width: 50%;
        }
        &-header{
            &-sub{
                line-height: 1;
                color: var(--gray);
            }
            &-title{
                line-height: 1;
                color: #000;
            }
        }
        &-text{
            & li{
                margin-top: 1rem;
            }
        }
    }
}