.modules{
    background: #fcfbfb;
    padding: 6rem 1rem;

    &__container{
        flex-direction: column;

        @include tablet-portrait{
            flex-direction: row;
        }
    }
    &__slide{
        width: 100%;
        position: relative;
        @include tablet-portrait{
            width: 40%;
        }
        @include desktop{
            width: 50%;
        }

        &-img{
            position: relative;
            z-index: 10;
        }
        &-bg{
            background: linear-gradient(90deg, var(--orange) 21px, transparent 1%) center, linear-gradient(var(--orange) 21px, transparent 1%) center, #ffffff;
            background-size: 22px 22px;
            border-radius: 62% 38% 39% 61% / 71% 53% 47% 29%;
            content: ' ';
            display: block;
            height: 300px;
            position: absolute;
            right: 0rem;
            top: calc(50% - 200px);
            width: 300px;
            z-index: 0;
            @include tablet-portrait{
                right: 2rem;
                top: calc(50% - 150px);
                height: 300px;
                width: 300px;
            }
            @include desktop{
                right: 4rem;
                top: calc(50% - 300px);
                height: 500px;
                width: 500px;
            }
        }
        &::before{
            top: 0;
            left: 0;
            width: 75px;
            height: 75px;
            @include desktop{
                top: 2rem;
                left: 3rem;
            }
        }
        &::before, &::after{
            background: transparent;
            border: 10px solid var(--orange); 
            content: ' ';
            display: block;
            position: absolute;
        }
        &::after{
            bottom: 1rem;
            right: 1rem;
            width: 90px;
            height: 90px;
            @include desktop{
                bottom: 2rem;
                right: 3rem;
                height: 120px;
                width: 120px;
            }
        }
    }
    &__content{
        width: 100%;
        @include  tablet-portrait{
            width: 60%;
        }
        @include desktop {
            width: 50%;
        }
        &-header{
            &-sub{
                line-height: 1;
                color: var(--gray);
            }
            &-title{
                line-height: 1;
                color: #000;
            }
        }
        &-text{
            & li{
                margin-top: 1rem;
            }
        }
    }
}