.principal{
    padding: 6rem 1rem 0;
    overflow: hidden;
    background: transparent;

    @include desktop{
        background: url('../../assets/home_bg.png') no-repeat center center;
        background-size: cover;
    }

    &__container{
        flex-direction: column;
        position: relative;
        @include tablet-portrait{
            flex-direction: row;
        }
    }
    &__content{
        width: 100%;
        @include tablet-portrait{
            width: 50%;
            padding-left: 2rem;
        }
        @include desktop{
            padding-left: 5rem;
        }

            & h3{
                color: gray;
                font-weight: bold;
                font-size: 2rem;
                line-height: 1;
                margin-bottom: 1.5rem;
            }
            & h1{
                color: #000;
                font-weight: bold;
                line-height: 1;
                font-size: 3rem;
            }
        
        & .how__cards{
            display: flex;
            gap: 1rem;
            margin: 2rem 0;
            @include desktop{
                gap: 2rem;
            }
            & .how__card{
                width: 150px;
                text-align: center;
                & p{
                    font-weight: bold;
                    font-size: .85rem;
                    @include desktop{
                        font-size: 1rem;
                    }
                } 
                & img{
                    width: 100px;
                }
            }
        }
    }
    &__steps{
        gap: 2rem;
    }
    &__step{
        max-width: 150px;
        &-icons{
            width: 100px;
        }
    }
    &__img{
        width: 100%;
        min-height: 400px;
        & img{
            @include desktop{
                max-width: 100%;
            }
        }
        @include tablet-portrait{
            width: 50%;
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        @include tablet-portrait{
            justify-content: flex-start;
        }
    }
}