.principal{
    padding: 6rem 1rem 0;
    &__container{
        flex-direction: column;
        position: relative;
        @include tablet-portrait{
            flex-direction: row;
        }
        &-bg{
            background: linear-gradient(90deg, var(--orange) 21px, transparent 1%) center, linear-gradient(var(--orange) 21px, transparent 1%) center, #ffffff;
            background-size: 22px 22px;
            border-radius: 62% 38% 39% 61% / 71% 53% 47% 29%;
            content: ' ';
            display: block;
            height: 300px;
            position: absolute;
            right: 0rem;
            bottom: 10rem;
            width: 300px;
            z-index: 0;
        }
        &::before{
            content: '';
            display: block;
            width: 80px;
            height: 80px;
            background: transparent;
            border: 5px solid var(--orange);
            position: absolute;
            top: 0;
            right: 0;
            @include tablet-portrait{
                top: -40px;
                left: -50px;
            }
        }
    }
    &__content{
        width: 100%;
        @include desktop{
            width: 50%;
            padding-left: 5rem;
        }

            & h3{
                color: gray;
                font-weight: bold;
                font-size: 2rem;
                line-height: 1;
                margin-bottom: 1.5rem;
            }
            & h1{
                color: #000;
                font-weight: bold;
                line-height: 1;
                font-size: 3rem;
            }
        
        & .how__cards{
            display: flex;
            gap: 1rem;
            margin: 2rem 0;
            @include desktop{
                gap: 2rem;
            }
            & .how__card{
                width: 150px;
                text-align: center;
                & p{
                    font-weight: bold;
                    font-size: .85rem;
                    @include desktop{
                        font-size: 1rem;
                    }
                } 
                & img{
                    width: 100px;
                }
            }
        }
    }
    &__steps{
        gap: 2rem;
    }
    &__step{
        max-width: 150px;
        &-icons{
            width: 100px;
        }
    }
    &__img{
        width: 100%;
        min-height: 300px;
        & img{
            max-width: 350px;
        }
        @include desktop{
            width: 50%;
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        @include tablet-portrait{
            justify-content: flex-start;
        }
    }
}