.contact{
    background: var(--orange);
    color: white;
    padding: 6rem 1rem;

    &__wrapper{
        @include desktop{
            max-width: 650px;
        }
        &-write{
            font-size: 2rem;
            @include desktop{
                font-size: 3rem;
            }
        }
        &-dist{
            font-size: 2.5rem;
            line-height: 1;
            @include desktop{
                font-size: 4rem;
            }
        }
    }
}