:root{
    --orange: #ff7922;
    --gray: #e6e6e6;
    --text: #888888;
}
@mixin phone {
  @media (max-width: 599px) { @content; }
}
@mixin tablet-portrait {
  @media (min-width: 600px) { @content; }
}
@mixin tablet-landscape {
  @media (min-width: 900px) { @content; }
}
@mixin desktop {
  @media (min-width: 1200px) { @content; }
}
@mixin big-desktop {
  @media (min-width: 1800px) { @content; }
}

.nexo__btn{
  background: var(--orange);
  border-radius: 50px;
  transition: all .3s;
  color: white;
  &:hover{
    background: white;
    color: var(--orange);
    border: 2px solid var(--orange);
  }
  
  &-contact{
    color: white;
    border: 2px solid;

    &:hover{
      background: white;
      color: var(--orange);
      border: 2px solid white;
    }
  }
}


.modal__card{
  &-header{
    background: var(--orange);
    
    & p{
      color: white;
    }
  }
}

@import'components/header/header';
@import 'components/caracteristicas/caracteristicas';
@import'components/modules/modules';
@import 'components/contact/contact';
@import 'components/footer/footer';
@import 'components/utils/social';